<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367398171884-u16qa41eusabf0idnt459jqv2tclcctm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367398171884-u16qa41eusabf0idnt459jqv2tclcctm</string>
	<key>API_KEY</key>
	<string>AIzaSyAndUDEoYlB6i7yWpHQMW4zUlwPoM9ZoJg</string>
	<key>GCM_SENDER_ID</key>
	<string>367398171884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soleMate.Solemate-app</string>
	<key>PROJECT_ID</key>
	<string>solemate-edae7</string>
	<key>STORAGE_BUCKET</key>
	<string>solemate-edae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367398171884:ios:0c0dad57a9e33869</string>
	<key>DATABASE_URL</key>
	<string>https://solemate-edae7.firebaseio.com</string>
</dict>
</plist>